
.bold{

    font-weight: bold;

}

 body{

    font-family: sans-serif;

}

#shape{

    width: 150px;
    height: 150px;
    display: none;
    position: relative;

}

#timeTaken{

    font-weight: bold;
    color: salmon;
    font-size: medium;

}

#bestTime{

    font-weight: bold;
    color: blueviolet;
    font-size: medium;

}

